<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ck.ck181228.order_info.mapper.Order_infoMapper">

	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.ck.ck181228.order_info.model.Order_infoModel">
		<result column="id" property="id" />
		<result column="user_code" property="user_code" />
		<result column="cust_code" property="cust_code" />
		<result column="prod_code" property="prod_code" />
		<result column="count" property="count" />
		<result column="TIME" property="TIME" />
		<result column="name" property="name" />
		<result column="cust_name" property="cust_name" />
		<result column="status" property="status" />
	</resultMap>
	<!-- table all fields sql片段 -->
	<sql id="Base_Column_List">
		o.id,o.user_code,o.cust_code,o.prod_code,o.count,o.TIME,o.status
		,(select p1.name from mis.product_info as p1 where p1.code =
		o.prod_code )name
		,(select c1.cust_name from mis.customer_info as c1
		where c1.cust_code = o.cust_code)cust_name
	</sql>
	<sql id="Example_Where_Clause">
		where 1=1
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="user_code != null and user_code != ''">
			and user_code like #{user_code}
		</if>
		<if test="cust_code !=null and cust_code !=''">
			and cust_code like #{cust_code}
		</if>
		<if test="prod_code != null and prod_code != ''">
			and prod_code = #{prod_code}
		</if>
		<if test="count !=null and count !=''">
			and count = #{count}
		</if>
		<if test="TIME != null and TIME != ''">
			and TIME = #{TIME}
		</if>
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
	</sql>
	<insert id="insert" parameterType="Object">
		insert into
		mis.order_info(user_code,cust_code,prod_code,count,TIME,status)
		values(#{user_code},#{cust_code},#{prod_code},#{count},now(),#{status})
	</insert>
	<update id="update" parameterType="Object">
		update mis.order_info set
		id = id
		<if test="count != null and count != '' ">
			,count = #{count}
		</if>
		<if test="status != null and status != '' ">
			,status = #{status}
		</if>
		where id = #{id}
	</update>
	<update id="updateModel" parameterType="Object">
		update mis.order_info set
		id = id
		<if test="count != null and count != '' ">
			,count = #{count}
		</if>
		<if test="status != null and status != '' ">
			,status = #{status}
		</if>
		where user_code = #{user_code}
	</update>
	<delete id="delete" parameterType="Object">
		delete from
		mis.order_info
		where user_code = #{user_code}
	</delete>
	<delete id="deleteModel" parameterType="Object">
		delete from
		mis.order_info where id = #{id}
	</delete>
	<select id="select" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from mis.order_info as o
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from mis.order_info as o
		<include refid="Example_Where_Clause" />
		limit ${rowStart},${pageLimit}
	</select>
	<select id="selectModel" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from mis.order_info as o
		<include refid="Example_Where_Clause" />
	</select>
	<select id="selectCount" resultType="int" parameterType="Object">
		select count(1) from mis.order_info
		<include refid="Example_Where_Clause"></include>
	</select>
</mapper>